body {
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 302px;
}

/* color > #5f9341 */

label {
    color: #5f9341;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}

button {
    background: #5f9341;
    color: white;
    font-weight: bold;
    border: 1px solid #5f9341;
    margin-top: 4px;
    padding: 10px 20px;
}

#delete-btn {
    background: white;
    color: #5f9341;
}

#ul-el {
    list-style: none;
    padding-left: 0;
}

#li-el {
    margin-bottom: 4px;
}

#a-el {
    color: #5f9341;
}